body.mapspage {
  margin: 0%;
  margin-top: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  --Franky: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  z-index: 0;
}

body.mapspage::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/Images/maps/Pikachu-Map.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

main {
  width: 90%;
  justify-items: center;
}

main.map {
  height: 450px;
}