body.transporter {
  margin: 0%;
  padding: 0%;
  width: auto;
  height: 100%;
  --Franky: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  z-index: 0;
}

body.transporter::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/Images/background/Pokemon Lab.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(4px);
  z-index: -1;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transReceiver {
  width: 75%;
  height: 150px;
  min-width: 545px;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user {
  margin: 2%;
  padding: 0%;
  width: 100%;
  min-width: 260px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 0;
}

.receiver {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;          
  justify-content: center; 
  align-items: center;     
  cursor: pointer;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}