body.welcomepage {
  margin: 0%;
  padding: 0%;
  width: auto;
  height: 100%;
  --Franky: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  z-index: 0;
}

body.welcomepage::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/Images/background/Pokemon Lab.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(4px);
  z-index: -1;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeuser {
  width: 75%;
  min-width: 545px;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user {
  margin: 2%;
  padding: 0%;
  width: 100%;
  min-width: 260px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 0;
}

.useraccount {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;          
  justify-content: center; 
  align-items: center;     
  cursor: pointer;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}

.welcome-header {
  font-size: 250%;
  font-weight: bold;
}

.welcome-name {
  font-size: 150%;
}

.stats {
  margin: 2%;
  padding: 0%;
  padding-top:  1%;
  padding-bottom: 1%;
  width: 100%;
  min-width: 260px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 0;
  border: 1px solid black;
}

.researcher-info {
  margin: 0%;
  padding: 0%;
  width: 100%;
  min-width: 260px;
  display: flex;
  flex-direction: column;          
  justify-content: center;    
  align-items: left;      
}

.researcher-info p {
  margin: 1%;
  padding: 0%;
  padding-left: 2%;
}

.researcher {
  width: 100%;
  min-width: 545px;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column; 
  align-items: center;      
}

.researcher-tools {
  width: 75%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;     
  align-items: center;      
  justify-content: center;     
}

.tool {
  margin: 2%;
  padding: 5%;
  width: 100%;
  min-width: 260px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid black;
}

.tool.active {
  background-color: rgb(0, 85, 255, 0.8);
  color: white;
}

.tool.disabled {
  background-color: rgba(175, 175, 176, 0.4);
  color: gainsboro;
  cursor: not-allowed;
}

.button-header {
  font-size: 130%;
  font-weight: bold;
}

.footstep-button {
  width: 72%;
  height: 100%;
  padding: 1%;
  display: grid;
  grid-template-columns: 40% auto 40%;
  background-color: rgba(255, 255, 255, 0.7);
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.side-text {
  margin: 0%;
  padding: 0%;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}