header.head-nav {
  width: 90%;
  max-height: 100%;
  margin: 2%;
  background-color: rgb(178, 235, 255, 0.7);   
  border: 1px solid black; 
  display: flex;
  justify-content: space-between;
  align-items: center;                                                          
}

header.head-nav .logo {
  padding-top: 7px;
  padding-left: 18px;
  padding-bottom: 3px;
  max-height: 100%;
  display: flex;
  align-items: center;
}

header.head-nav .logo img {
  max-height: 32px;
}

header .professor-info {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;     
  align-items: center;      
  justify-content: center;    
  text-align: center;
  font-family: var(--Franky); 
  font-size: 100%;
  color: black;   
}

.professor-info button {
  margin: 0%;
}

.professor-info .signout-slider {
  width: 25%;
  outline: none;
  cursor: grab;
}

nav.internal-nav {
  padding: 2%;
  display: flex;
  justify-content: right; 
  align-items: center; 
  gap: 1%;
  font-family: var(--Franky); 
  font-size: 130%;
  color: black;                                                                 /* | Vertical seperators */
}

.rest-tool {
  position: relative;
  display: inline-block;
}

.rest-tool-text {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 8px 12px;
  border-radius: 15px;
  position: absolute;
  bottom: 80%;
  left: 110%;
  font-family: var(--Franky);
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.rest-tool-text::after {                                                           
  content: "";                                                                     /* This is for the triangle under the bubble */
  position: absolute;
  top: 100%;
  left: 11%; 
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent white;                       /* This makes it point to the right */
}

.rest-tool:hover .rest-tool-text {
  visibility: visible;
  opacity: 1;
}

.signout-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background:rgb(0, 85, 255);
  border: 1px solid rgb(235, 252, 0);
  border-radius: 5px;
  outline: none;
}

/* Chrome, Safari */
.signout-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background:rgb(0, 85, 255);
  border: 1px solid rgb(235, 252, 0);
  cursor: grab;
}

.signout-slider:active::-webkit-slider-thumb {
  cursor: grabbing;
}

/* Firefox */
.signout-slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(178, 235, 255);
  border: 2px solid rgb(0, 85, 255);
  cursor: grab;
}

.signout-slider:active::-moz-range-thumb {
  cursor: grabbing;
}

.signout-slider:active::-moz-range-thumb {
  cursor: grabbing;
  height: 6px;
  background: rgb(0, 85, 255);
  border-radius: 5px;
}